{{#if addNewAnswer}}
<h4>New Answer</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="publisher">Who Dis?</label>
        {{input value=publisher id="publisher"}}
      </div>
      <div class="form-group">
        <label for="response">Add Your Two-Cents:</label>
        {{input value=response id="response"}}
      </div>
      <button {{action 'saveAnswer'}}>Submit</button>
    </form>
  </div>
{{else}}
  <button {{action 'answerFormShow'}}>Give An Answer</button>
{{/if}}
